{% if form %}
    <form action="{% url 'url_shortener:index' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Short it!"/>
    </form>
{% endif %}


{% block content %}
    <h2>Most Popular Links</h2>
    {% if top_links %}
        <ul>
            {% for link in top_links %}
                <li><a href={{ link.short_url }}>{{ link.short_url }}</a>: {{ link.clicks_count }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No URLs are available.</p>
    {% endif %}
{% endblock content %}