{% block content %}
<h2>URL's list:</h2>
{% if objects_list %}
    <ul>
    {% for obj in objects_list %}
        <li><a href={{ obj.long_url }}>{{ obj.short }}</a> : {{ obj.clicks_count }} <a href="{% url 'delete_obj' link_id=obj.id%}">Delete</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No URLs are available.</p>
{% endif %}
{% endblock content %}


{#{% for note in all_notes %}#}
{#   <li>{{ note.title }} - <a href="{% url 'delete_note' pk=note.pk %}">Delete</a></li>#}
{#{% endfor %}#}