<html>
<head></head>
<body>
{% block content %}
    <h2>URL's list:</h2>
    <ul>
        {% for link in links %}
            <li>
                <a href={{ link.short_url }}>{{ link.short_url }}</a> : {{ link.clicks_count }}

                <form action="{% url 'url_shortener:delete_obj' link_id=link.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if links.has_previous %}
                <a href="?page={{ links.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ links.number }} of {{ links.paginator.num_pages }}.
            </span>

            {% if links.has_next %}
                <a href="?page={{ links.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
</body>
</html>